* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: #3596c7;    
    color: black;
    text-align: center;
    box-sizing: border-box;
    } 

.calcWrapper {

    border: 1px solid black;
    margin: 25px;
    padding: 5px;

}
.App {
    
    margin-left: 30vw;
    margin-top: 5vh;
    height: 500px;
    width: 500px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    align-content: stretch;
    justify-content: flex-start;
    align-items: flex-center;
}
input::placeholder {color: black; background-color: white}
button {
    background-color: white;
}
/* .box {
    margin-left: 0px;
    height: 100%;
    width: 100px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    align-content: stretch;
    justify-content: flex-start;
    align-items: flex-start;
  } */


 