* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgb(83, 123, 197);
    text-align: center;
    box-sizing: border-box;
    }

div {
    background-color: rgb(207, 192, 192);
    /* background-image: url(images/otter.jpg); */
    background-position: center;
    background-size: cover;
    height: 125px;
    width: 300px;
    color: blue;
    float: none;
}
